<div class="container">
  <form [formGroup]="form" (ngSubmit)="onUpdateTask()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        [(ngModel)]="taskToBeEdited.title"
        type="text"
        id="title"
        name="title"
        placeholder="title"
        required
        class="form-control"
        formControlName="title"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        id="description"
        [(ngModel)]="taskToBeEdited.description"
        placeholder="description"
        name="description"
        class="form-control"
        formControlName="description"
      />
    </div>
    <div class="mb-3">
      <label for="categoryName" class="form-label">Category</label>
      <select
        id="categoryName"
        name="categoryName"
        class="form-control"
        formControlName="categoryName"
        [(ngModel)]="taskToBeEdited.categoryName"
      >
        <option [ngValue]="null" disabled selected hidden>Category</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="dueDate" class="form-label">Due Date</label>
      <input
        type="date"
        id="dueDate"
        name="dueDate"
        [(ngModel)]="taskToBeEdited.dueDate"
        class="form-control"
        formControlName="dueDate"
      />
    </div>
    <div class="mb-3">
      <label for="priority" class="form-label">Priority</label>
      <select
        id="priority"
        name="priority"
        class="form-control"
        formControlName="priority"
        [(ngModel)]="taskToBeEdited.priority"
      >
        <option [ngValue]="null" disabled selected hidden>Priority</option>
        <option *ngFor="let priority of priorityValues" [value]="priority">
          {{ priority }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select
        id="status"
        name="status"
        class="form-control"
        formControlName="status"
        [(ngModel)]="taskToBeEdited.status"
      >
        <option [ngValue]="null" disabled selected hidden>Status</option>
        <option *ngFor="let status of statusValues" [value]="status">
          {{ status }}
        </option>
      </select>
    </div>
    <div class="col-sm-6 edit-btn">
      <button type="submit" class="btn btn-success btn-sm">
        <i class="bi bi-save"></i>
      </button>
      <button
        (click)="onCancelEdit()"
        class="btn btn-warning btn-cancel btn-sm"
      >
        <i class="bi bi-x-circle"></i>
      </button>
    </div>
  </form>
</div>
