.edit-btn button {
  margin-right: 16px;
  width: 85px;
  color: white;
}

.btn-cancel {
  float: right;
}

.edit-btn i {
  margin-left: 5px;
}

@media (min-width: 768px) {
  form {
    margin-left: 15rem;
  }
}

@media (min-width: 1200px) {
  form {
    margin-left: 20rem;
  }
}
