<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <th scope="row">#</th>
  <!-- <td>
    <input
      type="text"
      id="category"
      name="categoryName"
      value="categoryName"
      required
      class="form-control"
      formControlName="categoryName"
    />
  </td> -->

  <td>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="title"
      required
      class="form-control"
      formControlName="title"
    />
  </td>
  <td>
    <input
      type="text"
      id="description"
      placeholder="description"
      name="description"
      class="form-control"
      formControlName="description"
    />
  </td>
  <td>
    <app-dropdown
      id="categoryName"
      name="categoryName"
      [options]="categories"
      [label]="label"
      (onChange)="selectOption($event)"
      [dropdownControl]="form.get('dropdownControl')"
    ></app-dropdown>
  </td>
  <td>
    <input
      type="date"
      id="dueDate"
      name="dueDate"
      value=""
      class="form-control"
      formControlName="dueDate"
    />
  </td>
  <td>
    <!-- TODO add a placeholder for priority -->
    <label for="priority">
      <select name="priority" class="form-control" formControlName="priority">
        <option *ngFor="let priority of priorityValues" [value]="priority">
          {{ priority }}
        </option>
      </select>
    </label>
  </td>
  <td>
    <!-- TODO add a placeholder for status -->

    <label for="status">
      <select name="status" class="form-control" formControlName="status">
        <option *ngFor="let status of statusValues" [value]="status">
          {{ status }}
        </option>
      </select>
    </label>
  </td>

  <button type="submit" class="btn btn-success" [disabled]="!form.valid">
    Insert new Task!
  </button>
</form>
