<div *ngIf="loading" class="mt-2 row alert alert-info">
  Loading Tasks ...
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div class="container">
  <app-simple-table
    [taskList]="taskList"
    [priorityValues]="priorityValues"
    [statusValues]="statusValues"
    (deleteTask)="onDeleteTask($event)"
    (updateTask)="onUpdateTask($event)"
  >
  </app-simple-table>
  <div class="row">
    <button class="btn add-task" routerLink="/insert-task">
      <i class="bi bi-plus-circle-fill"> </i>
    </button>
  </div>
</div>
