<div *ngIf="!isEditing">
  <div class="card task-card" *ngFor="let task of taskList | orderBy : order">
    <div class="card-body">
      <div class="card-title task-title">
        <div class="row">
          <div class="col">
            {{ task.title }}
          </div>
          <div class="col">
            <span class="task-date">
              <i class="bi bi-calendar-check"></i>
              {{ task.dueDate }}</span
            >
          </div>
        </div>
      </div>
      <p class="card-text">
        {{ task.description }}
      </p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div>
            <span>{{ task.categoryName }}</span>
          </div>
          <div>
            <span>
              <i
                [ngClass]="{
                  'bi bi-arrow-down': task.priority === 'low',
                  'bi bi-justify': task.priority === 'medium',
                  'bi bi-arrow-up': task.priority === 'high'
                }"
              >
              </i>
              {{ task.priority }}</span
            >
          </div>
          <div>
            <span>
              <i
                [ngClass]="{
                  'bi bi-card-list': task.status === 'open',
                  'bi bi-arrow-clockwise': task.status === 'ongoing',
                  'bi bi-check-lg': task.status === 'completed',
                  'bi bi-alarm': task.status === 'overdue'
                }"
              >
              </i
              >{{ task.status }}</span
            >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="action-btn">
            <button
              (click)="onDeleteTask(task.taskId)"
              class="btn btn-danger btn-sm"
            >
              <i class="bi bi-trash3"></i>
            </button>

            <button class="btn btn-edit btn-sm" (click)="onEditTask(task)">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngFor="let task of taskList | orderBy : order">
  <div *ngIf="isEditing && taskToBeEdited.taskId === task.taskId">
    <input
      type="text"
      id="title"
      name="title"
      value="{{ task.title }}"
      required
      minlength="5"
      [(ngModel)]="task.title"
    />
    <input
      type="date"
      id="dueDate"
      name="dueDate"
      value="{{ task.dueDate }}"
      [(ngModel)]="task.dueDate"
    />
    <input
      type="text"
      id="description"
      name="description"
      value="{{ task.description }}"
      required
      minlength="5"
      [(ngModel)]="task.description"
    />

    <label for="priority">
      <select name="priority" [(ngModel)]="task.priority">
        <option
          *ngFor="let priority of priorityValues"
          [selected]="priority === task.priority"
        >
          {{ priority }}
        </option>
      </select>
    </label>

    <label for="status">
      <select name="status" [(ngModel)]="task.status">
        <option
          *ngFor="let status of statusValues"
          [selected]="status === task.status"
        >
          {{ status }}
        </option>
      </select>
    </label>

    <div class="col-sm">
      <button class="btn btn-success btn-sm" (click)="onUpdateTask(task)">
        <i class="bi bi-save"></i>
      </button>
    </div>
    <div class="col-sm">
      <button
        (click)="onCancelEdit()"
        class="btn btn-warning btn-cancel btn-sm"
      >
        <i class="bi bi-x-circle"></i>
      </button>
    </div>
  </div>
</div>
