<table class="table table-bordered table-striped table-sm table-hover">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Category</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Due Date</th>
    <th scope="col">Priority</th>
    <th scope="col">Status</th>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskList">
      <td>
        <span>{{ task.taskId }}</span>
      </td>
      <td>
        <span>{{ task.category }}</span>
      </td>
      <td>
        <span *ngIf="!isEditing">{{ task.title }}</span>
        <input
          *ngIf="isEditing && taskToBeEdited.taskId === task.taskId"
          type="text"
          id="title"
          name="title"
          value="{{ task.title }}"
          required
          minlength="5"
          [(ngModel)]="task.title"
        />
      </td>
      <td>
        <span *ngIf="!isEditing">{{ task.description }}</span>
        <input
          *ngIf="isEditing && taskToBeEdited.taskId === task.taskId"
          type="text"
          id="description"
          name="description"
          value="{{ task.description }}"
          required
          minlength="5"
          [(ngModel)]="task.description"
        />
      </td>
      <td>
        <span *ngIf="!isEditing">{{ task.dueDate }}</span>
        <input
          *ngIf="isEditing && taskToBeEdited.taskId === task.taskId"
          type="date"
          id="dueDate"
          name="dueDate"
          value="{{ task.dueDate }}"
          [(ngModel)]="task.dueDate"
        />
      </td>
      <td>
        <span *ngIf="!isEditing">{{ task.priority }}</span>
        <label for="priority">
          <select
            *ngIf="isEditing && taskToBeEdited.taskId === task.taskId"
            name="priority"
            [(ngModel)]="task.priority"
          >
            <option
              *ngFor="let priority of priorityValues"
              [selected]="priority === task.priority"
            >
              {{ priority }}
            </option>
          </select>
        </label>
      </td>
      <td>
        <span *ngIf="!isEditing">{{ task.status }}</span>
        <label for="status">
          <select
            *ngIf="isEditing && taskToBeEdited.taskId === task.taskId"
            name="status"
            [(ngModel)]="task.status"
          >
            <option
              *ngFor="let status of statusValues"
              [selected]="status === task.status"
            >
              {{ status }}
            </option>
          </select>
        </label>
      </td>
      <td>
        <button
          (click)="onDeleteTask(task.taskId)"
          class="btn btn-danger btn-sm"
        >
          Delete Task
        </button>
      </td>
      <td *ngIf="!isEditing">
        <button class="btn btn-warning btn-sm" (click)="onEditTask(task)">
          Edit Task
        </button>
      </td>
      <td *ngIf="isEditing">
        <button class="btn btn-success btn-sm" (click)="onUpdateTask(task)">
          Save
        </button>
      </td>
      <td *ngIf="isEditing">
        <button (click)="onCancelEdit()" class="btn btn-danger btn-sm">
          Cancel
        </button>
      </td>
    </tr>
  </tbody>
</table>
