<div *ngIf="loading" class="mt-2 row alert alert-info">
  Loading Tasks ...
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div class="table-responsive-md" *ngIf="taskList.length">
  <table class="table table-striped">
    <thead>
      <th scope="col">Category</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>

    </thead>
    <tbody>
      <tr *ngFor="let task of taskList">
        <td>
          {{ task.category }}
        </td>
        <td>
          {{ task.title }}
        </td>
        <td>
          {{ task.description}}
        </td>
        <td>
          {{ task.dueDate }}
        </td>
        <td>
          {{ task.priority }}
        </td>
        <td>
          {{ task.status }}
        </td>
      </tr>
    </tbody>
  </table>
</div>